<?xml version="1.0" encoding="utf-8"?>
<Config>
	<Server Host="192.168.5.101" Port="42831" Type="magic4pc" />
	<Console Enabled="0" />

	<Remote Name="magic4pc">
		<Button Name="37">
			<Action Function="t9PrevWord" OS="Windows" />
		</Button>
		<Button Name="38">
			<Action Function="SendVK" KeyCode="VK_UP" OS="Windows" />
		</Button>
		<Button Name="39">
			<Action Function="t9NextWord" OS="Windows" />
		</Button>
		<Button Name="40">
			<Action Function="SendVK" KeyCode="VK_DOWN" OS="Windows" />
		</Button>
		<Button Name="403">
			<Action Function="SendVK" KeyCode="VK_MEDIA_PREV_TRACK" OS="Windows" />
		</Button>
		<Button Name="404">
			<Action Function="SendVK" KeyCode="VK_MEDIA_STOP" OS="Windows" />
		</Button>
		<Button Name="405">
			<Action Function="SendVK" KeyCode="VK_MEDIA_PLAY_PAUSE" OS="Windows" />
		</Button>
		<Button Name="406">
			<Action Function="SendVK" KeyCode="VK_MEDIA_NEXT_TRACK" OS="Windows" />
		</Button>
		<Button Name="13">
			<Action Function="t9Send" OS="Windows" />
		</Button>
		<Button Name="19">
			<Action Function="MouseClickDown" Param="2" Repeat="0" OS="Windows" />
		</Button>
		<Button Name="19_up">
			<Action Function="MouseClickUp" Param="2" Repeat="A" OS="Windows" />
		</Button>
		<Button Name="415">
			<Action Function="MouseClickDown" Param="1" Repeat="0" OS="Windows" />
		</Button>
		<Button Name="415_up">
			<Action Function="MouseClickUp" Param="1" Repeat="A" OS="Windows" />
		</Button>
		<Button Name="mousedown">
			<Action Function="MouseClickDown" Param="0" Repeat="0" OS="Windows" />
		</Button>
		<Button Name="mouseup">
			<Action Function="MouseClickUp" Param="0" Repeat="A" OS="Windows" />
		</Button>
		<Button Name="wheelup">
			<Action Function="ScrollUp" Repeat="A" OS="Windows" />
		</Button>
		<Button Name="wheeldown">
			<Action Function="ScrollDown" Repeat="A" OS="Windows" />
		</Button>
		<Button Name="49">
			<Action Function="t9" KeyCode="1" OS="Windows" />
		</Button>
		<Button Name="50">
			<Action Function="t9" KeyCode="2" OS="Windows" />
		</Button>
		<Button Name="51">
			<Action Function="t9" KeyCode="3" OS="Windows" />
		</Button>
		<Button Name="52">
			<Action Function="t9" KeyCode="4" OS="Windows" />
		</Button>
		<Button Name="53">
			<Action Function="t9" KeyCode="5" OS="Windows" />
		</Button>
		<Button Name="54">
			<Action Function="t9" KeyCode="6" OS="Windows" />
		</Button>
		<Button Name="55">
			<Action Function="t9" KeyCode="7" OS="Windows" />
		</Button>
		<Button Name="56">
			<Action Function="t9" KeyCode="8" OS="Windows" />
		</Button>
		<Button Name="57">
			<Action Function="t9" KeyCode="9" OS="Windows" />
		</Button>
		<Button Name="48">
			<Action Function="t9" KeyCode="0" OS="Windows" />
		</Button>
		<Button Name="461">
			<Action Function="t9Back" OS="Windows" />
		</Button>
		<Button Name="1028">
			<Action Function="SendVK" KeyCode="VK_ESCAPE" OS="Windows" />
		</Button>
		<Button Name="417">
			<Action Function="Run" Param="&quot;c:\services\remotelistener\SoundVolumeView.exe&quot; /DisableEnable LG TV SSCR2" OS="Windows" />
		</Button>
	</Remote>
</Config>